body
{
	background-color: #6beab1;
	text-align: center;
}
div[class="navigation"]
{
	background-color: #e69b40;
	width: 100%;
	height: 50px;
	font-size: 25px;
	font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: center;
}
input
{
	border-radius: 20px;
}
input[type="submit"]
{
	border-radius: 10px;
	background-color: #f0eb40;
}
h1
{
	text-align: center;
	font-family: cursive;
}