body
{
	background-color: #86adf0;
	text-align: center;
}
input
{
	border-radius: 100px;
	background-color: #f4d474
}
input[type="submit"]
{
	border-radius: 100px;
	background-color: #96e89a;
}
h1
{
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
}