body
{
	background-color: #0279B8;
	text-align: center;

}
div[class="navigation"]
{
	background-color: #0F9BE5;
	width: 100%;
	height: 40px;
	font-size: 20px;
	font-family: cursive;
	text-align: left;
}
h1
{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size:large;
}
.U_id,.Email,.Password
{
	border-radius: 10px;
	background-color: #72A875;
}
input[type="submit"]
{
	border-radius: 10px;
	background-color: #72A875;
}
label,p
{
	font-family: cursive;
}
.login_form
{
	font-weight: bold;
}
