body
{
	background-image: url(abc.jpeg);
	background-repeat: no-repeat;
	background-color: #a3b3e3;
	text-align: center;
}
input
{
	border-radius: 10px;
	background-color: rgb(235, 235, 116);
	text-emphasis-color: rgb(132, 132, 230);
}
h1,p,h2
{
	text-align: center;
	font-family: cursive;
}